@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');


* {
    margin: 0;
}
body {
    background-color: #292929;/*
    background-image: url("magpies-nest.jpg");*/
    font-family: "Arimo", sans-serif;
    color: rgb(255, 255, 255);
}

h1, h2, h3, h4, h5, h6{
    font-family: "didot", Serif;
    text-shadow: 0 0 11px rgb(226, 233, 255);
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

h1 {
    position: relative;
    font-size: 5rem;
    margin-top:3vw;
}
h2 {
    font-size: 4.5vw;
}

hr {
    display: block;
    width: 100vw;
    color: white;
    box-shadow: 0 0 11px white;
}

p {
    display: block;
    font-size: 1.6rem;
    line-height: 155%;
    margin-bottom: 1%;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgba(0,0,0,.33);
    backdrop-filter: blur(3px);
    border-bottom: 1px solid rgb(20, 20, 20);
    z-index: 10;
    top: 0%;
    width: 100vw;
    font-size: 1rem;
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    justify-items: center;
    margin-right: 3%;
}
nav ul li{
    padding: 1em;
}
nav ul li a:link {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 11px rgb(185, 202, 255);
}
nav ul li  a:visited {
    color: rgba(255, 255, 255, .5);
    text-shadow: 0 0 5px rgb(185, 202, 255);
}
nav ul li a:hover {
    text-shadow: 0 0 22px #fff;
}
nav ul li a:active {
    color: #fff;
    text-shadow: 0 0 16px rgb(126, 236, 255);
}
a {
    color: white;
    text-decoration: none;
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgba(0,0,0,.33);
    backdrop-filter: blur(3px);
    border-top: 1px solid rgb(20, 20, 20);
    z-index: 10;
    top: 90%;
    width: 100vw;
    font-size: 1rem;
}
footer ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    justify-items: center;
    margin-right: 3%;
}

footer ul li{
    padding: 1em;
}
footer ul li a:link {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 11px rgb(185, 202, 255);
}
footer ul li  a:visited {
    color: rgba(255, 255, 255, .5);
    text-shadow: 0 0 5px rgb(185, 202, 255);
}
footer ul li a:hover {
    text-shadow: 0 0 22px #fff;
}
footer ul li a:active {
    color: #fff;
    text-shadow: 0 0 16px rgb(126, 236, 255);
}

#caseStudyCircle1 {
    background-image: url("../CALLANISH-SITE/callanish-circle-gordon-williams.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    border-radius: 50%;
    border: 1PX SOLID WHITE;
    height: 200px;
    width: 200px;
    align-self: center;
    margin: 3vh auto 3vh auto;
    box-shadow: 0 0 11px white, 0 0 7px white inset;
    overflow: hidden;
}

.csCircle {
    grid-column: 2 / 6;
    height: 200px;
    width: 200px;
    border: 1px solid white;
    box-shadow: 0 0 11px white, 0 0 7px white inset;
    border-radius: 50%;
    margin-bottom: 1%;
}


.caseStudyContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.52);
    backdrop-filter: blur(7px);
    width: 100vw;
}

.caseStudyContainer ul {
    grid-column: 1 / 13;
    justify-self: start;
    align-self: center;
    list-style-type: none;
}

.caseStudyContainer li {
    line-height: 125%;
}

.caseStudyContainer hr {
    grid-column: 1 / 13;
    width: 100%;
    color: white;
    box-shadow: 0 0 11px white;
}

.caseStudyContainer p {
    grid-column: 3 / 11;
    font-size: 1rem;
    align-self: start;
}


.caseStudyContainer h2, h3, h4 {
    grid-column: 1 / 13;
    align-items: center;
}

.caseStudyContainer2 {
    grid-column: 3/11;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: start;
    align-content: start;
    min-height: 30vh;
    max-height: 100%;
    margin-bottom: 3%;
}

.caseStudyContainer2 p {
    font-size: 1rem;
    line-height: 150%;
    padding-top: 0;
    padding-bottom: 1.5%;
}

.caseStudyContainer2 ul li{
    grid-column: 1 / 13;
    justify-self: start;
    align-self: start;
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
    font-size: 1rem;
}

.csd1 {
    grid-column: 1 /4;
    background-image: url("/CALLANISH-SITE/THANK-YOU-N.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    box-sizing: border-box ;
    align-self: center;
    min-height: 25vh;
}

.csd2 {
    grid-column: 5 / 13;
    grid-row: 1 / 2;
}

.csd3 {
    grid-column: 4 / 13;
    grid-row: 2 / 3;
}

.csd4{
    grid-column: 1 /6;
    align-self: start;
}

.csd5 {
    grid-column: 8/13;
    align-self: start;
}

.csd6 {
    grid-column: 2/6;
    justify-items: center;
}
.csd6 p {
    text-align: left;
}

.csd7 {
    grid-column: 9/13;
    justify-items: center;
}

.caseStudyHeading1 {
    grid-column: 1 / 13;
    text-align: center;
    font-size: 5rem;
    text-transform:uppercase;
    background-image: url("/CALLANISH-SITE/callanish-case-bg-empty.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    border-top: 1px solid rgb(111, 111, 111);
    border-bottom: 1px solid rgb(34, 34, 34);
    box-shadow: 0 11px 22px rgba(0,0,0,.7);
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 7vh;
    margin-top: 7vh;
}

.cs1 {
    grid-column: 4 / 10;
}

.caseStudyHeading2 {
    grid-column: 1 /13;
    text-align: center;
    font-size: 3rem;
    background-image: linear-gradient(to bottom right, rgba(77,77,77,.52), rgba(0,0,0,.3));
    backdrop-filter: blur(22px);
    border-top: 1px solid rgb(77, 77, 77);
    border-bottom: 1px solid rgb(34, 34, 34);
    box-shadow: 0 13px 22px rgba(0,0,0,0.77);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 16%;
    margin-top: 16%;
}


.container2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 22px;
    justify-content: center;
    align-content: space-evenly;
    width: 100vw;
}
.c1 {
    grid-column: 1 / 5;
    border: 10px solid blue;
}
.c2 {
    grid-column: 5 / 9;
    border: 10px solid red;
}
.c3 {
    grid-column: 9 / 13;
    border: 10px solid yellow;
}

.fullSpan1 {
    display: block;
    grid-column: 3 / 11;
    background-image: url("/CALLANISH-SITE/callanish-group-photo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 30vh;
    margin-bottom: 1%;
}
.fullSpan2 {
    display: block;
    grid-column: 3 / 11;
    background-image: url("/CALLANISH-SITE/SURVEY.png");
    background-position: center top ;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 25vh;
    margin-bottom: 7%;
}
.fullSpan3 {
    display: block;
    grid-column: 3 / 11;
    background-image: url("/CALLANISH-SITE/SURVEY-1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 47vh;
    margin-bottom: 7%;
    margin-top: 6%;
}
.fullSpan4 {
    display: block;
    grid-column: 3 / 11;
    background-image: url("/CALLANISH-SITE/SURVEY-2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 40vh;
    margin-bottom: 7%;
    margin-top: 6%;
}
.fullSpan5 {
    display: block;
    grid-column: 3 / 11;
    background-image: url("/CALLANISH-SITE/SURVEY-FILLER.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 50vh;
    margin-bottom: 7%;
    margin-top: 6%;
}

.fullSpan6 {
    display: block;
    grid-column: 3 / 11;
    background-image: url("/CALLANISH-SITE/GUNSNROSES.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 50vh;
    margin-bottom: 7%;
    margin-top: 6%;
}

.fullSpan7 {
    display: block;
    grid-column: 3 / 11;
    background-image: url("/CALLANISH-SITE/THE-CHIEFTANS.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 50vh;
    margin-bottom: 7%;
    margin-top: 6%;
}

.fullSpan8 {
    display: block;
    grid-column: 3 / 11;
    background-image: url("/CALLANISH-SITE/EVANESCENCE.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 50vh;
    margin-bottom: 7%;
    margin-top: 6%;
}

.fullSpan9 {
    display: block;
    grid-column: 3 / 11;
    background-image: url("/CALLANISH-SITE/THE-DECEMBERISTS.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 50vh;
    margin-bottom: 7%;
    margin-top: 6%;
}

.fullSpan10{
    display: block;
    grid-column: 3 / 11;
    background-image: url("/CALLANISH-SITE/JOURNEY.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 7px #FFF;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 30vh;
    margin-bottom: 11%;
    margin-top:7%;
}

.fullSpan11 {
    grid-column: 3 / 11;
    background-image: url("/CALLANISH-SITE/USER-FLOW-WHITELINES.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    align-self: center;
    min-height: 50vh;
    margin-bottom: 1%;
    margin-top: 1%;
}

.tripletBox {
    display: flex;
    flex-direction: row;
    grid-column: 3 / 12;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
    margin-bottom: 3%;
    font-size: .7rem;
}

.tripletBox ul {
    flex: 1;
    align-self: flex-start;
    justify-self: left;
    justify-items: left;
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
    line-height: 185%;
}

.tripletBox li {
    padding: 1% 3% 1% 0;
}


.triplet1 {
    flex: 1;
    align-self: flex-start;
    justify-self: flex-start;
}

.triplet2 {
    flex: 1;
    align-self: start;
}

.triplet3 {
    flex: 1;
    align-self: start;
}


.heroHeading1, .heroHeading2 {
    display: block;
    position: relative;
    margin: 1vh auto 1vh auto;
}

.heroHeading1 {
    margin-top: 16vh;
    font-size: 4rem;
}

.heroHeading2 {
    margin: 11% auto 7% auto;
    text-align: center;
    justify-self: center;
    font-size: 3rem;
}
.heroHeading3 {
    margin: 1% auto 2% auto;
    text-align: left;
    font-size: 1.7rem;
    max-width:66%;
}

.heroHeading4 {
    margin-top: 1vh;
    font-size: 99pt;
}

.heroImg1 {
    background-image: url("/CALLANISH-SITE/callanish-case-bg-empty.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display:inline-block;
    background-color:rgb(23, 24, 26);
    height: 80vh;
    min-width: 100vw;
    border-bottom: 1px solid rgb(61, 65, 75);
    box-sizing: border-box;
    text-align: center;
}


.heroImg1 p{
    font-size: .5rem;
    text-align: center;
}

.heroImg2 {
    background-image: url("texturedgreenmetal.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:inline-block;
    background-color:rgb(23, 24, 26);
    height: 70vh;
    width: 100vw;
    border-bottom: 1px solid rgb(61, 65, 75);

}

.heroImg3 {
    background-image: url("lavender.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:inline-block;
    background-color:rgb(23, 24, 26);
    height: 100vh;
    width: 100vw;
    border-bottom: 1px solid rgb(61, 65, 75);
    z-index: 2;
}

.homeSplashImg {
    display: inline-block;
    background-image: url("magpies-nest.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.icons {
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    justify-self: center;
}

.icon1 {
    background-image: url("../ICONS/WHITE-SWORD.png");
    grid-column: 1/6;
}

.icon2 {
    background-image: url("../ICONS/CRYSTAL-BALL-GLOW.png");
    grid-column: 7/13;
}

.icon3 {
    background-image: url("/ICONS/EYE-GLOW.png");
    grid-column: 4 / 10;
    margin-left: -4%;
    margin-top: 11%;
}

.imgOver1 {
    grid-column: 5 / 9;
    grid-row: 1;
    background-image: url("/CALLANISH-SITE/MOBILE-SITE-LANDING-NOW.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    box-sizing: border-box ;
    align-self: center;
    justify-self: center;
    min-height: 30vh;
    min-width: 20vw;
    margin-top: 7%;
}

.imgOver2 {
    grid-column: 3/5;
    background-image: url("/CALLANISH-SITE/THANK-YOU-C.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    box-sizing: border-box ;
    align-self: center;
    justify-self: start;
    min-height:20vh;
    min-width: 20vw;
    margin-top: 7%;
}
.imgOver3 {
    grid-column: 9/11;
    background-image: url("/CALLANISH-SITE/WHAT-WE-DO.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    box-sizing: border-box ;
    align-self: center;
    justify-self: end;
    min-height: 20vh;
    min-width: 20vw;
    margin-top: 7%;
}

.insight {
    margin: 1% auto 7% auto;
    text-align: left;
    max-width: 66%;
    font-size: 1.6rem;
    text-shadow: 0 0 11px rgb(255, 255, 255);
}

.points{
    position: relative;
    margin: 7% auto 7% auto;
    text-align: left !important;
    font-size: 1rem;
    max-width: 66%;
    justify-self: start;
    align-self: start;
}

.leftHeader {
    grid-column: 1 / 5 !important;
    align-self: start;
    text-align: left;
    font-size: 30;
}

.logoType {
    justify-self: flex-start;
    align-self: center;
    text-align: left;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20pt;
    margin-left: 3%;
}

.logoType a:link {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 11px rgb(185, 202, 255);
}
.logoType  a:visited {
    color: rgba(255, 255, 255, .5);
    text-shadow: 0 0 5px rgb(185, 202, 255);
}
.logoType a:hover {
    text-shadow: 0 0 22px #fff;
}
.logoType a:active {
    color: #fff;
    text-shadow: 0 0 16px rgb(126, 236, 255);
}

#mockupIMG {
    display: inline-block;
    position: relative;
    margin: 2% auto 0 auto;
    background-image: url("/CALLANISH-SITE/callanish-iphone-mockup.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    min-height: 40%;
    width: auto;
}

a {
    color: white;
    text-decoration: none;
}

.sketchContainer {
    grid-column: 1 / 13;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 3%;
    row-gap: 1em;
    justify-content: center;
    align-content: center;
    align-items: space-between;
    min-width: 100%;
    margin-top: 7%;
    margin-bottom: 11%;
}

.sk1 {
    grid-column: 5 / 9;
    background-image: url("/CALLANISH-SITE/callanish-sketches/sketches-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 22px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    min-height: 25vh;
}

.sk2 {
    grid-column: 2 / 7;
    background-image: url("/CALLANISH-SITE/callanish-sketches/sketches-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border-radius: 22px;
    min-height: 27vh;
}

.sk3 {
    grid-column: 7 / 12;
    background-image: url("/CALLANISH-SITE/callanish-sketches/sketches-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border-radius: 22px;
    min-height: 27vh;
}

.sk4 {
    grid-column: 2 / 7;
    background-image: url("/CALLANISH-SITE/callanish-sketches/sketches-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border-radius: 22px;
    min-height: 27vh;
}

.sk5 {
    grid-column: 7 / 12;
    background-image: url("/CALLANISH-SITE/callanish-sketches/sketches-4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border-radius: 22px;
    min-height: 27vh;
}

.sk6 {
    grid-column: 2 / 7;
    background-image: url("/CALLANISH-SITE/callanish-sketches/sketches-5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border-radius: 22px;
    min-height: 27vh;
}

.sk7 {
    grid-column: 7 / 12;
    background-image: url("/CALLANISH-SITE/callanish-sketches/sketches-6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border-radius: 22px;
    min-height: 27vh;
}

.underHeading {
    position: relative;
    width: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}
.underHeading2 {
    position: relative;
    text-align: left;
    grid-column: 7 / 12;
    margin-top: 15%;
    margin-bottom: 60%;
    font-size: 2vw;
}

.underHeading3 {
    position: relative;
    text-align: justify;
    grid-column: 1 / 7;
    margin-top: 15%;
    margin-bottom: 33%;
    font-size: 2rem;
}


.underHeading4 h2, h3, h4{
    position: relative;
    text-align: left;
    font-size: 1rem;
}

.mobileWireFrame1{
    grid-column: 1/5;
    background-image: url("/CALLANISH-SITE/WHAT-WE-DO-WIREFRAME.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 1% 0 1%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 20vh;
}

.mobileWireFrame2{
    grid-column: 5/9;
    background-image: url("/CALLANISH-SITE/WHAT-WE-DO-LO-FI.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 1% 0 1%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
}

.mobileWireFrame3{
    grid-column: 9/13;
    background-image: url("/CALLANISH-SITE/WHAT-WE-DO.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 1% 0 1%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 20vh;
}

.wireFramesIMG {
    display: block;
    grid-column: 3 / 11;
    background-image: url("/CALLANISH-SITE/wireframes-horizontal.png");
    background-position: top;
    background-size: 110%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 20vh;
    margin-bottom: 5%;
}

.usabilityImg {
    display: block;
    grid-column: 5 / 9;
    background-image: url("/CALLANISH-SITE/testing-grid.jpg");
    background-position: top;
    background-attachment:local;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    box-shadow: 0 0 7px #FFF;
    border-radius: 25px;
    border: 1px solid #FFF;
    align-self: stretch;
    min-height: 20vh;
    margin-bottom: 22%;
}

.persona1 {
    grid-column: 2 / 6;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url("/CALLANISH-SITE/Siobhan-McBride.png");
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 7px #FFF;
    border: 1px solid #FFF;
    box-sizing: border-box ;
    align-self: start;
    margin-top: 11%;
    margin-bottom: 3%;

}
.persona2 {
    grid-column: 9 / 13;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url("/CALLANISH-SITE/Jason-Byrd-not.png");
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 7px #FFF;
    border: 1px solid #FFF;
    box-sizing: border-box ;
    align-self: start;
    margin-top: 11%;
    margin-bottom: 3%;
}

.page {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.panel {
    grid-column: 1 / 13;
    margin-bottom: 25vh;
    background-color:rgba(0, 0, 0, 0.66);
    backdrop-filter: blur(22px);
    border-top: solid 1px rgb(61, 65, 75);
    border-bottom:solid 2px rgb(24, 33, 33);
}

.panel2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3%;
    justify-content: center;
    justify-items: center;
    align-content: space-around;
    align-items: center;
    margin: 0 auto 15% auto;
    padding-top: 3%;
    padding-bottom: 3%;
    min-height: 80vh;
    backdrop-filter: blur(7px);
}

.p2-gitem0 {
    grid-column: 1/6;
    align-self: start;
    justify-self: stretch;
    background-image: url("levitation-2.jpg");
}

.p2-gitem1 {
    grid-column: 6/12;
    justify-self: stretch;
    align-self: center;
    text-align:center;
}

.p2-gitem1 p {
    text-align: left;
    font-size: 18pt;
}

.p2-gitem2{
    border: 1px solid red;
    grid-column: 2/3;
}

.p2-gitem3 {
    border: 1px solid blue;
    grid-row: 2/3;
    grid-column: 1/2;
}

.uxGrid {
    margin: 17vh auto 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3%;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 3;
}

.uxGridItem2 h3 {
    font-size: 33pt;
}

.uxGridItem1 {
    grid-column: 1/5;
}

.uxGridItem2 {
    grid-column: 5/9;
    text-align: center;
}

.uxGridItem3 {
    grid-column: 9/13;
}

/*
.item-1, .item-2, .item-3{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: space-around;
    justify-content: center;
    margin: 3%;
    height: 70vh;
}
.item-1{
    flex: 1;
}
.item-2 {
    flex: 1;
}
.item-1 h2, h3 {
    text-align: left;
    margin-bottom: 10%;
}
.item-1 h3 {
    font-size: 26pt;
    line-height: 155%;
    text-align: left;
}
/*
    padding: 10vh 1vw 20vh 1vw;
}
*/


.gitem1{
    border: 1px solid red;
    padding: 2%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    justify-self: center;
}

.gitem2 {
    border: 1px solid blue;
    padding: 2%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
}

.gitem3 {
    border: 1px solid green;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: stretch;
}

.gitem4 {
    border: 1px solid yellow;
    grid-row-start: 1;
    grid-row-end: 4;
}

.buttonContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid purple;
}
.button a:link{
    border-radius: 33px;
    border: 1px solid white;
    box-shadow: 0 0 11px rgb(226, 233, 255), 0 0 11px rgb(185, 202, 255) inset;
    padding: 18px;
    text-decoration: none;
    color:rgb(226, 233, 255);
}

.callToAction a:link{
    color:rgba(0, 0, 0, 0.77);
    background-color:rgb(226, 233, 255);
}
.toolTip{
    position:relative;
    margin-top: 5vh;
}

#portrait1 {
    flex: 1;
    height: 50vh;
    overflow: hidden;
}
#portrait1 img{
    height: 800px;
}
#logoCircle {
    display: block;
    margin: 16vh auto 0 auto;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 7px solid white;
    box-shadow: 0 0 16px 1px rgb(226, 233, 255), 0 0 16px 1px rgb(226, 233, 255) inset;
    background-image: url("RIGHTSIGILLUMULTIMA.png");
    background-position: center;
    background-size: cover;
    background-position-x: 10px;
    background-position-y: -5px;

}
